<div class="col-sm-2 sidenav"></div>
<div class="col-sm-8 text-left">
<ul>
 {{#each authors}}
  <div class="author">
    <li><a href="/authors/{{this.id}}">{{this.first_name}} {{this.last_name}}</a></li>
  </div>
 {{/each}}
</ul>
</div>
<div class="col-sm-2 sidenav"></div>